/*
 *
 * Diff to HTML (diff2html.css)
 * Author: rtfpessoa
 *
 */

.d2h-wrapper {
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.d2h-file-wrapper {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 1em;
}

.d2h-file-header {
    padding: 5px 10px;
    border-bottom: 1px solid #d8d8d8;
    background-color: #f7f7f7;
    font: 13px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.d2h-file-stats {
    display: inline;
    font-size: 12px;
    text-align: center;
    max-width: 15%;
}

.d2h-lines-added {
    text-align: right;
}

.d2h-lines-added > * {
    background-color: #ceffce;
    border: 1px solid #b4e2b4;
    color: #399839;
    border-radius: 5px 0 0 5px;
    padding: 2px;
}

.d2h-lines-deleted {
    text-align: left;
}

.d2h-lines-deleted > * {
    background-color: #f7c8c8;
    border: 1px solid #e9aeae;
    color: #c33;
    border-radius: 0 5px 5px 0;
    padding: 2px;
}

.d2h-file-name {
    display: inline;
    line-height: 33px;
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.d2h-diff-table {
    border-collapse: collapse;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    width: 100%;
}

.d2h-files-diff {
    width: 100%;
}

.d2h-file-diff {
    overflow-x: scroll;
    overflow-y: hidden;
}

.d2h-file-side-diff {
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 50%;
    margin-right: -4px;
}

.d2h-code-line {
    display: block;
    white-space: pre;
    padding: 0 10px;
    height: 18px;
    line-height: 18px;
    margin-left: 80px;
    /* Override HighlightJS */
    color: inherit;
    overflow-x: inherit;
    background: none;
    /* ******************** */
}

.d2h-code-side-line {
    display: block;
    white-space: pre;
    padding: 0 10px;
    height: 18px;
    line-height: 18px;
    margin-left: 50px;
    /* Override HighlightJS */
    color: inherit;
    overflow-x: inherit;
    background: none;
    /* ******************** */
}

.d2h-code-line del,
.d2h-code-side-line del {
    display: inline-block;
    margin-top: -1px;
    text-decoration: none;
    background-color: #ffb6ba;
    border-radius: 0.2em;
}

.d2h-code-line ins,
.d2h-code-side-line ins {
    display: inline-block;
    margin-top: -1px;
    text-decoration: none;
    background-color: #97f295;
    border-radius: 0.2em;
}

.d2h-code-line-prefix {
    float: left;
    background: none;
    padding: 0;
}

.d2h-code-line-ctn {
    background: none;
    padding: 0;
}

.line-num1 {
    box-sizing: border-box;
    float: left;
    width: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 3px;
}

.line-num2 {
    box-sizing: border-box;
    float: right;
    width: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 3px;
}

.d2h-code-linenumber {
    box-sizing: border-box;
    position: absolute;
    width: 82px;
    height: 18px;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 18px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    border: solid #eeeeee;
    border-width: 0 1px 0 1px;
    cursor: pointer;
}

.d2h-code-side-linenumber {
    box-sizing: border-box;
    position: absolute;
    width: 52px;
    padding-left: 10px;
    padding-right: 10px;
    height: 18px;
    line-height: 18px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    border: solid #eeeeee;
    border-width: 0 1px 0 1px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.d2h-del {
    background-color: #fee8e9;
    border-color: #e9aeae;
}

.d2h-ins {
    background-color: #dfd;
    border-color: #b4e2b4;
}

.d2h-info {
    background-color: #f8fafd;
    color: rgba(0, 0, 0, 0.3);
    border-color: #d5e4f2;
}

.d2h-file-list-wrapper {
    margin-bottom: 10px;
    padding: 0 10px;
}

.d2h-file-list-wrapper a {
    text-decoration: none;
    color: #3572b0;
}

.d2h-file-list-wrapper a:visited {
    color: #3572b0;
}

.d2h-file-list-header {
    font-weight: bold;
    float: left;
}

.d2h-file-list-line {
    text-align: left;
    font: 13px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.d2h-file-list-line .d2h-file-name {
    line-height: 21px;
}

.d2h-file-list {
    display: block;
}

.d2h-clear {
    display: block;
    clear: both;
}

.d2h-del.d2h-change, .d2h-ins.d2h-change {
    background-color: #ffc;
}

ins.d2h-change, del.d2h-change {
    background-color: #fad771;
}

.d2h-file-diff .d2h-del.d2h-change {
    background-color: #fae1af;
}

.d2h-file-diff .d2h-ins.d2h-change {
    background-color: #ded;
}

.d2h-file-switch {
    display: none;
    float: left;
    font-size: 10px;
    cursor: pointer;
    margin-top: 3px;
}
