/*
 *
 * Diff to HTML (diff2html.css)
 * Author: rtfpessoa
 *
 */

.d2h-wrapper {
  text-align: left;
  word-wrap: break-word;
}

.d2h-wrapper * {
  box-sizing: border-box;
}

.d2h-wrapper table {
  border-spacing: 0;
  border-collapse: collapse;
}

.d2h-file-header {
  display: flex;
  height: 35px;
  padding: 5px 10px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f7f7f7;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.d2h-file-header.d2h-sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.d2h-file-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-size: 14px;
}

.d2h-lines-added {
  text-align: right;
  border: 1px solid #b4e2b4;
  border-radius: 5px 0 0 5px;
  color: #399839;
  padding: 2px;
  vertical-align: middle;
}

.d2h-lines-deleted {
  text-align: left;
  border: 1px solid #e9aeae;
  border-radius: 0 5px 5px 0;
  color: #c33;
  padding: 2px;
  vertical-align: middle;
  margin-left: 1px;
}

.d2h-file-name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
}

.d2h-file-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.d2h-file-wrapper {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1em;
}

.d2h-file-collapse {
  justify-content: flex-end;
  display: none;
  cursor: pointer;
  font-size: 12px;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 4px 8px;
}

.d2h-file-collapse.d2h-selected {
  background-color: #c8e1ff;
}

.d2h-file-collapse-input {
  margin: 0 4px 0 0;
}

.d2h-diff-table {
  width: 100%;
  border-collapse: separate;
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: 13px;
  word-wrap: break-word;
}

.d2h-diff-table.d2h-split-diff {
  table-layout: fixed;
}

.d2h-files-diff {
  display: flex;
  width: 100%;
}

.d2h-files-diff.d2h-d-none,
.d2h-file-diff.d2h-d-none {
  display: none;
}

.d2h-file-side-diff {
  width: 100%;
}

.d2h-code-line,
.d2h-code-side-line {
  user-select: none;
  padding-left: 22px;
  position: relative;
  padding-right: 10px;
  line-height: 20px;
  vertical-align: top;
}

.d2h-code-marker::before {
  position: absolute;
  top: 1px;
  left: 8px;
  padding-right: 8px;
  content: attr(data-code-marker);
}

.d2h-code-line-ctn {
  display: table-cell;
  background: none;
  padding: 0;
  word-wrap: anywhere;
  white-space: pre-wrap;
  overflow: visible;
  user-select: text;
  width: 100%;
  vertical-align: middle;
}

.d2h-code-line del,
.d2h-code-side-line del {
  display: inline-block;
  margin-top: -1px;
  text-decoration: none;
  background-color: #ffb6ba;
  border-radius: 0.2em;
  vertical-align: middle;
}

.d2h-code-line ins,
.d2h-code-side-line ins {
  display: inline-block;
  margin-top: -1px;
  text-decoration: none;
  background-color: #97f295;
  border-radius: 0.2em;
  text-align: left;
  vertical-align: middle;
}

.d2h-code-line-prefix {
  display: inline;
  background: none;
  padding: 0;
  word-wrap: normal;
  white-space: pre;
}

.d2h-code-linenumber::before,
.d2h-code-side-linenumber::before {
  content: attr(data-line-number);
}

.d2h-code-linenumber:after,
.d2h-code-side-linenumber:after {
  content: '\200b';
}

.d2h-code-side-linenumber,
.d2h-code-linenumber {
  /* Keep the numbers fixed on line contents scroll */
  position: relative;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  border: solid #eeeeee;
  border-width: 0 1px 0 1px;
  line-height: 20px;
  font-size: 12px;
  width: 1%;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.d2h-code-side-emptyplaceholder,
.d2h-emptyplaceholder {
  background-color: #f1f1f1;
  border-color: #e1e1e1;
}

.d2h-code-linenumber,
.d2h-code-side-linenumber,
.d2h-code-line-prefix,
.d2h-emptyplaceholder {
  user-select: none;
}

.d2h-code-linenumber,
.d2h-code-side-linenumber {
  direction: rtl;
}

/*
 * Changes Highlight
 */

.d2h-del {
  background-color: #fee8e9;
  border-color: #e9aeae;
}

.d2h-ins {
  background-color: #dfd;
  border-color: #b4e2b4;
}

.d2h-info {
  background-color: #f8fafd;
  color: rgba(0, 0, 0, 0.3);
  border-color: #d5e4f2;
}

.d2h-file-diff .d2h-del.d2h-change {
  background-color: #fdf2d0;
}

.d2h-file-diff .d2h-ins.d2h-change {
  background-color: #ded;
}

/*
 * File Summary List
 */

.d2h-file-list-wrapper {
  margin-bottom: 10px;
}

.d2h-file-list-wrapper a {
  text-decoration: none;
  color: #3572b0;
}

.d2h-file-list-wrapper a:visited {
  color: #3572b0;
}

.d2h-file-list-header {
  text-align: left;
}

.d2h-file-list-title {
  font-weight: bold;
}

.d2h-file-list-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.d2h-file-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.d2h-file-list > li {
  border-bottom: #ddd solid 1px;
  padding: 5px 10px;
  margin: 0;
}

.d2h-file-list > li:last-child {
  border-bottom: none;
}

.d2h-file-switch {
  display: none;
  font-size: 10px;
  cursor: pointer;
}

.d2h-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}

.d2h-deleted {
  color: #c33;
}

.d2h-added {
  color: #399839;
}

.d2h-changed {
  color: #d0b44c;
}

.d2h-moved {
  color: #3572b0;
}

.d2h-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  margin-left: 5px;
  padding: 0 2px;
  background-color: #fff;
}

.d2h-deleted-tag {
  border: #c33 1px solid;
}

.d2h-added-tag {
  border: #399839 1px solid;
}

.d2h-changed-tag {
  border: #d0b44c 1px solid;
}

.d2h-moved-tag {
  border: #3572b0 1px solid;
}
