# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Coverage
coverage/

# Bower
bower_components/

# Terraform
/terraform/.terraform

# Compiled templates
/src/diff2html-templates.*

# Compiled website
/docs/

# Bundles temporary typescript files compiled by webpack
/bundles-out/

# Web bundles
/bundles/
# CommonJS library
/lib/
# ESNext library
/lib-esm/
