<span class="d2h-file-path-wrapper">
    <span class="d2h-icon-wrapper">{{>fileIcon}}</span>
    <span class="d2h-file-path">{{fileDiffPath}}</span>
    <span class="d2h-file-name">{{fileDiffFilename}}</span>
    {{>fileTag}}
</span>
