<tr>
    <td class="{{lineClass}} {{type}}">
      {{{lineNumber}}}
    </td>
    <td class="{{type}}">
        <div class="{{contentClass}} {{type}}">
            <span class="d2h-code-line-ctn" data-prefix="{{#prefix}}{{{prefix}}}{{/prefix}}{{^prefix}}&nbsp;{{/prefix}}">{{#content}}{{{content}}}{{/content}}{{^content}}<br>{{/content}}</span>
        </div>
    </td>
</tr>
