<tr>
  <td class="{{CSSLineClass.INFO}}" colspan="{{#colspan}}{{{.}}}{{/colspan}}{{^colspan}}2{{/colspan}}">
      <div class="{{contentClass}}">
          File without changes
      </div>
  </td>
</tr>
