<tr>
    <td class="{{lineClass}} {{diffParser.LINE_TYPE.INFO}}"></td>
    <td class="{{diffParser.LINE_TYPE.INFO}}">
        <div class="{{contentClass}} {{diffParser.LINE_TYPE.INFO}}">{{{blockHeader}}}</div>
    </td>
</tr>
