<span class="d2h-file-name-wrapper">
    {{>fileIcon}}
    <span class="d2h-file-name">{{fileDiffName}}</span>
    {{>fileTag}}
</span>
<label class="d2h-file-collapse">
    <input class="d2h-file-collapse-input" type="checkbox" name="viewed" value="viewed">
    Viewed
</label>
