<div class="btn-group-vertical" role="group" style="position: fixed;left: 100px;">
    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    <button type="button" class="btn btn-danger btn-previous">Previous</button>
    <button type="button" class="btn btn-danger btn-next">Next</button>
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
</div>