<tr>
    <td class="d2h-code-linenumber {{type}}">
        <div class="line-num1">{{oldNumber}}</div>
        <div class="line-num2">{{newNumber}}</div>
    </td>
    <td class="{{type}}">
        <div class="d2h-code-line {{type}}">
            {{#prefix}}
                <span class="d2h-code-line-prefix">{{{prefix}}}</span>
            {{/prefix}}
            {{#content}}
                <span class="d2h-code-line-ctn">{{{content}}}</span>
            {{/content}}
        </div>
    </td>
</tr>
