<tr>
    <td class="d2h-code-linenumber {{diffParser.LINE_TYPE.INFO}}"></td>
    <td class="{{diffParser.LINE_TYPE.INFO}}">
        <div class="d2h-code-line {{diffParser.LINE_TYPE.INFO}}"> {{{blockHeader}}}</div>
    </td>
</tr>
