<tr>
    <td class="{{left.lineClass}} {{left.diffParser.LINE_TYPE.INFO}}"></td>
    <td class="{{left.diffParser.LINE_TYPE.INFO}}">
        <div class="{{left.contentClass}} {{left.diffParser.LINE_TYPE.INFO}}">{{{left.blockHeader}}}</div>
    </td>
    <td class="{{right.lineClass}} {{right.diffParser.LINE_TYPE.INFO}}"></td>
    <td class="{{right.diffParser.LINE_TYPE.INFO}}">
        <div class="{{right.contentClass}} {{right.diffParser.LINE_TYPE.INFO}}">{{{right.blockHeader}}}</div>
    </td>
</tr>