<tr>
    <td class="d2h-code-linenumber {{ type }}">
        <div class="line-num1">{{ utils.valueOrEmpty(oldNumber) | safe }}</div>
        <div class="line-num2">{{ utils.valueOrEmpty(newNumber) | safe }}</div>
    </td>
    <td class="{{ type }}">
        <div class="d2h-code-line {{ type }}">
            {%- if prefix %}
            <span class="d2h-code-line-prefix">{{ utils.convertWhiteSpaceToNonBreakingSpace(prefix) | safe }}</span>
            {% endif -%}
            {% if content -%}
            <span class="d2h-code-line-ctn">{{ utils.convertWhiteSpaceToNonBreakingSpace(content) | safe }}</span>
            {%- endif %}
        </div>
    </td>
</tr>
