.image img.hero-img {
  background-image: url(images/snapshot-3.png);
  display: block;
  height: auto;
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.hero-booticon {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0 auto 30px;
  width: 100%;
  font-size: 8vw;
  display: block;
  font-weight: 500;
  text-align: center;
  cursor: default;
}

.code-example {
  position: relative;
  font-family: monospace;
  background: #272b38;
  color: #48d8a0;
  border-radius: 8px;
  padding: 1.5rem;
}

.button.clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #fff;
  background-color: #767676;
  border-color: #767676;
  border-radius: 0 4px 0 4px;
  cursor: pointer;
}

.button.clipboard:hover {
  color: #000;
  background-color: #dcdfe4;
}

#users .columns .column {
  display: flex;
  flex-direction: column;
}

#users .columns .column section {
  height: 100%;
}
