.hero-green {
  color: #26a65b;
}

.hero-black {
  color: #353535;
}

.hero-red {
  color: #cb2c37;
}

.button.is-green {
  color: #fff;
  background: #26a65b;
  font-weight: 400;
}

.button.is-green:hover {
  color: #fff;
  background: #5dbe5d;
}
