    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css">

    <!-- diff2html -->
    <link rel="stylesheet" type="text/css" href="assets/diff2html.min.css">
    <!-- -->
